### Łukasz Ozimek 236529
### Laboratorium 7

[Link do komórki ze zmodyfikowanymi funkcjami](#cell)

[Link do zestawu danych](https://www.kaggle.com/rounakbanik/pokemon)

In [23]:
from sklearn.datasets import load_iris
import pandas as pd

In [24]:
def confusion_matrix(actual, predicted):
    unique = set(actual)
    matrix = [list() for x in range(len(unique))]
    for i in range(len(unique)):
        matrix[i]=[0for x in range(len(unique))]
    lookup = dict()
    for i, value in enumerate(unique):
        lookup[value] = i
    for i in range(len(actual)):
        x = lookup[actual[i]]
        y = lookup[predicted[i]]
        matrix[y][x] += 1
    return unique, matrix

def print_confusion_matrix(unique, matrix):
    print('(A)'+' '.join(str(x) for x in unique))
    print('(P)---')
    for i, x in enumerate(unique):
        print("%s| %s" % (x, ' '.join(str(x) for x in matrix[i])))

In [25]:
iris = load_iris()
data = iris.data
targets = iris.target
names = iris.target_names

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, targets, test_size=0.3, random_state=101)
model = RandomForestClassifier()
model.fit(X_train, y_train);

In [27]:
y_pred = model.predict(X_test)
unique, matrix = confusion_matrix(y_test, y_pred)
print_confusion_matrix(unique, matrix)

(A)0 1 2
(P)---
0| 13 0 0
1| 0 19 1
2| 0 1 11

<a id='cell'></a>

In [28]:
def confusion_matrix_alt(actual, predicted):
    unique = pd.DataFrame(actual, columns=['Column'])['Column'].unique()
    matrix = [list() for x in range(len(unique))]
    for i in range(len(unique)):
        matrix[i]=[0 for x in range(len(unique))]
    lookup = dict()
    for i, value in enumerate(unique):
        lookup[value] = i
    for i in range(len(actual)):
        x = lookup[int(actual[i])]
        y = lookup[int(predicted[i])]
        matrix[y][x] += 1
    return unique, matrix

def print_confusion_matrix_alt(unique, matrix):
    df = pd.DataFrame(matrix, index=unique, columns=unique)
    return df

In [29]:
import pandas as pd
import numpy as np
pokemon_data = pd.read_csv('pokemon.csv')
pd.options.display.max_columns = None
pokemon_data.drop(['abilities','base_egg_steps','base_happiness','base_total','capture_rate','classfication',
                  'experience_growth','height_m','japanese_name','name','percentage_male','pokedex_number',
                  'type2','weight_kg','generation','is_legendary'], axis=1, inplace=True)
pokemon_data_y = pokemon_data.pop('type1')
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
pokemon_data_y = pd.DataFrame(le.fit_transform(pokemon_data_y),columns=['type'])
X_train, X_test, y_train, y_test = train_test_split(np.asarray(pokemon_data), np.asarray(pokemon_data_y),
                                                    test_size=0.3, random_state=101)
model.fit(X_train, y_train);
y_pred = model.predict(X_test)
unique, matrix = confusion_matrix_alt(y_test, y_pred)
print_confusion_matrix_alt(unique, matrix)

<ipython-input-29-23713814b6af>:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train);

    6   0   15  12  10  17  3   8   1   13  4   5   14  9   11  7   2   16
6   15   0   0   0   0   0   0   0   2   0   0   0   0   0   0   0   1   0
0    0  23   2   0   0   0   0   0   0   1   0   1   0   5   0   0   0   0
15   1   0  14   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
12   0   0   0  26   0   0   0   0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   7   0   0   0   0   0   0   0   0   0   0   0   1   0
17   0   0   0   0   0  31   0   0   0   0   0   0   0   0   1   0   0   0
3    0   0   0   0   0   0  11   0   0   0   0   0   0   0   0   1   0   1
8    0   0   0   0   1   0   0   9   0   0   0   0   0   1   0   0   0   0
1    0   0   0   0   0   0   0   0   3   0   0   1   0   0   0   0   0   0
13   0   0   0   0   0   0   0   0   0  11   0   0   0   0   0   0   0   0
4    0   0   0   0   0   0   0   0   0   0   6   0   0   0   0   0   0   0
5    0   0   0   0   0   0   0   0   0   0   0   9   1   0   0   0   0   0
14   0   0   0   0   0   0   0   0   0   0   0   0  14   0   0   0   0   2
9    0   0   0   0   0   0   0   0   0   0   0   0   0  21   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0   0   0   0   5   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   6   0
16   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   5

In [30]:
def accuracy_metric(actual, predicted):
    correct = 0
    for i in range(len(actual)):
        if actual[i] == predicted[i]:
            correct += 1
    return correct / float(len(actual))*100.0

def mae_metric(actual, predicted):
    sum_error = 0.0
    for i in range(len(actual)):
        sum_error += abs(predicted[i]-actual[i])
    return sum_error / float(len(actual))

accuracy = accuracy_metric(y_test, y_pred)
print('Accuracy: %s' % (accuracy))
mae = mae_metric(y_test, y_pred)
print('MAE: %s' % (mae))

Accuracy: 89.62655601659752
MAE: [0.7593361]

In [31]:
# Testing longer class tags
actual = [0, 0, 0, 13535, 554245, 657347, 35524, 5334, 554, 1, 1]
predicted = [0, 0, 1, 13535, 554245, 1, 0, 5334, 1, 1, 0]
unique, matrix = confusion_matrix_alt(actual, predicted)
print_confusion_matrix_alt(unique, matrix)

        0       13535   554245  657347  35524   5334    554     1
0            2       0       0       0       1       0       0       1
13535        0       1       0       0       0       0       0       0
554245       0       0       1       0       0       0       0       0
657347       0       0       0       0       0       0       0       0
35524        0       0       0       0       0       0       0       0
5334         0       0       0       0       0       1       0       0
554          0       0       0       0       0       0       0       0
1            1       0       0       1       0       0       1       1